.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ball {
    border: 2px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    box-shadow: 0px 20px 35px #000;
    margin-bottom: 40px;
}

.ball-click{
    position: relative;
    animation: shake 0.5s infinite;
    animation-iteration-count: 2;
}

@keyframes shake {
    0%, 100% {
      transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translate(-2px, -2px);
    }
    20%, 40%, 60%, 80% {
      transform: translate(2px, 2px);
    }
  }
  
.ball-center {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px -20px 60px #fff;
}

.text-answeer {
    color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 90px;
    text-align: center;
}

.ask-btn {
    width: 100px;
    font-size: 20px;
    padding: 5px;
    color: #494848;
    background: #80808082;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}